@import "bourbon";
@import "vars.scss";

@media only screen and (max-width : 1920px){
	.in-slider .lSSlideOuter .lSPager.lSpg{
			margin: 10px 380px 0px;
	}
}
@media only screen and (max-width : 1300px) {
	.head-number{
		padding-left:0px;
	}
	.slider{
		background-size:cover;
	}
	.in-slider{
		padding-top:180px;
	}
	.item-slide{
		max-width: 700px;
		padding-left: 50px;
	}
	.in-slider:after{
		left: -73px;
		bottom: -67px;
	}
	.otzuvu{
		background-size: 135%;
	}
	.slider-otz .lSAction > .lSPrev{
		top: 79%;
		left: 36%;
	}
	.slider-otz .lSAction > .lSNext{
		top: 79%;
		right: 61%;
	}

}

@media only screen and (max-width : 1269px){
	.service-menu a{
		margin-left: 48px;
		padding-right: 0;
		padding-left: 35px;
	}
	.right-menu li:last-child a{
		padding-left: 85px;
	}
	.service-menu li:nth-child(3) a{
		padding-left: 90px;
	}
}
@media only screen and (max-width : 1256px) {
	.head-number{
		margin-left: -27px;
	}

}
@media only screen and (max-width : 1200px){
	.right-menu li:first-child a{
		margin-left: 50px;
	}
	.right-menu li:first-child{
		background-position: 47px 7px;
	}
	.right-menu li:nth-child(2) a{
		padding-left: 65px;
		margin-left: 45px;
	}
	.right-menu li:nth-child(2){
		background-position: center 18px;
	}
	.right-menu li:last-child{
		background-position: center;
	}
	.right-menu li:last-child a{
		padding-left: 130px;
		margin-left: 55px;
	}
	.all-mont{
		margin-left: 0;
	}
	.title-service{
		text-align: left;
		h2{
			padding-left: 15%;
		}
		p{
			padding-left: 25%;
		}
	}
	.title-service h2:after{
		right: 260px;
	}
}
@media only screen and (max-width : 1199px){
	.service-menu li{
		background-position: center;
	}
	.service-menu a{
		display: inline-block;
        margin-bottom: 10px !important;
      text-align: left;
      padding-left: 0;
	}
    body .service-menu ul{
      text-align: center;
      margin-top: 25px;

    }
	.service-menu li:nth-child(2){
		background-position: center;
      margin-left: -65px;
	}
  .service-menu li:nth-child(2) a{
    margin-left: 0;
  }
    .service-menu li:nth-child(3){
      margin-top: 0px;
      margin-left: -16%;
    }
  .service-menu li:nth-child(3) a{
    padding-left: 0;
    margin-left: 10px;
  }
    .right-menu li:first-child{
      background-image: url("../img/mobile/servisemenu2.png") !important;
    }
    .right-menu li:first-child a{
      transform: skewY(0deg);
    }
  .service-menu{
    background-position: right 130px;
  }

}
@media only screen and (max-width : 1175px) {
	.head-number{
		margin-left: -35px;
	}
}
@media only screen and (max-width : 1151px) {
	.head-number{
		margin-left: -45px;
	}
}
@media only screen and (max-width : 1121px) {
	.head-number{
		margin-left: -55px;
	}
}
@media only screen and (max-width : 1091px) {
	.head-number{
		margin-left: -65px;
	}
}
@media only screen and (max-width : 1061px) {
	.head-number{
		margin-left: -75px;
	}
}
@media only screen and (max-width : 1031px) {
	.head-number{
		margin-left: -85px;
	}
}
@media only screen and (max-width : 1001px) {
	.head-number{
		margin-left: -95px;
	}
}
@media only screen and (max-width : 991px) {
	.logo{
		text-align: left;
	}
	.head-number{
		float: left;
		p{
			font-size:16.89px;
		}
		b{
			font-size:16.89px;
		}
		span{
			font-size:27.03px;
		}
	}
	.toggle_mnu{
		display: block !important;
	}
	body .in-slider .lSSlideOuter .lSPager.lSpg{
		margin: 10px 230px 0px;
	}
	.topslider{
		padding-left: 115px;
	}
	.in-slider:after{
		left: -130px;
		bottom: -80px;
	}
	.item-slide p{
		padding: 15px 50px 0 50px;
	}
	.slider{
		background-size: inherit;
	}
	.service-menu ul{
		margin-top: 30px;
	}
	.service-menu li{
		background-position: left bottom;
		margin-left: 35px;
	}
	.service-menu a{
		margin: 10px 0 34px 40px;
	}
	.title-service h2{
		padding-left: 0;
	}
}

@media only screen and (max-width : 768px){
	.head-number{
		margin-left: -78px;
	}
}