*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

footer {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  padding-top: 11px;
  padding-bottom: 2px; }
  footer ul {
    margin-top: 19px;
    float: left;
    padding-left: 0;
    padding-right: 0; }
    footer ul li {
      float: left;
      margin-right: 20px; }
      footer ul li a {
        text-decoration: none;
        color: #616161;
        font-size: 16px; }
      footer ul li a:hover {
        text-decoration: none;
        color: #fff; }
  footer .gs {
    float: right;
    margin: 9px;
    margin-right: 15px;
    display: block; }
  footer .gs:visited, footer .gs:active {
    text-decoration: none; }

.all-zags {
  text-align: center; }
  .all-zags h2 {
    padding-top: 11px;
    font-family: Candarab;
    font-size: 37.87px;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: .4px; }

.all-prop {
  max-width: 1048px;
  margin: 0 auto; }

.buy-item {
  max-width: 324px;
  margin: 45px 0px 98px 0px; }

.img-item {
  margin-left: 8px;
  position: relative;
  text-align: center;
  max-width: 317px;
  max-height: 235px; }
  .img-item img {
    width: 100%;
    height: 235px; }

.b-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 55px; }
  .b-line p {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 15px;
    letter-spacing: 1.4px; }

.red-line {
  background-image: url("../img/bg-red.png");
  background-repeat: no-repeat;
  min-height: 49px;
  position: relative;
  text-align: center;
  margin: 10px 0 0 10px; }
  .red-line p {
    font-family: Candarab;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    -webkit-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    transform: skewY(1deg);
    padding-top: 11px;
    letter-spacing: 1.4px;
    text-shadow: 2px 2px 0px black; }

.black-line {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: -8px;
  width: 213px;
  height: 53px;
  background-image: url("../img/back-bg.png");
  background-repeat: no-repeat;
  text-align: left; }
  .black-line a {
    display: block;
    font-size: 16px;
    font-family: Candarab;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    transform: skewY(-1deg);
    padding: 19px 0 0 30px;
    letter-spacing: 1.2px; }

.montaj {
  z-index: 69;
  position: relative; }

.all-mont {
  background-image: url("../img/bg-montaj.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin-left: 15px;
  min-height: 650px;
  margin-top: 29px; }

.montaj-title {
  max-width: 1000px;
  position: relative;
  z-index: 99; }
  .montaj-title:after {
    z-index: -1;
    position: absolute;
    left: 88px;
    top: -129px;
    content: '';
    background-image: url("../img/bam2.png");
    width: 382px;
    height: 382px; }
  .montaj-title h2 {
    color: #ffd644;
    z-index: 55;
    font-size: 50px;
    text-transform: uppercase;
    font-family: BOOKOSBI;
    text-shadow: 5px 1px 1px  black;
    padding: 29px 0 0 26.9%;
    letter-spacing: 3px; }
  .montaj-title span {
    text-align: right;
    font-size: 40px;
    display: block;
    margin-top: -7px;
    letter-spacing: 1px;
    padding-right: 29px; }

.montaj-menu {
  max-width: 1120px;
  margin: 0 auto; }
  .montaj-menu span {
    font-weight: 900;
    font-size: 87.89px;
    display: inline-block;
    margin-left: -80px;
    margin-top: 10px;
    vertical-align: top;
    opacity: .3; }
  .montaj-menu p {
    display: inherit; }
  .montaj-menu a {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px; }
    .montaj-menu a:hover {
      color: #cfcfcf; }
      .montaj-menu a:hover span {
        color: #ffd644;
        opacity: 1 !important; }
      .montaj-menu a:hover p {
        text-decoration: underline; }

.mont-left-menu li {
  margin: 60px 0 118px 0;
  padding-left: 150px; }
  .mont-left-menu li:nth-child(2) {
    padding-left: 180px;
    margin-bottom: 105px; }
    .mont-left-menu li:nth-child(2) p {
      padding-top: 6px; }
  .mont-left-menu li:last-child {
    padding-left: 171px;
    margin-bottom: 0; }

.mont-right-menu li {
  margin: 60px 0 113px 0;
  padding-left: 26px; }
  .mont-right-menu li:nth-child(2) {
    padding-left: 130px;
    margin-bottom: 105px; }
    .mont-right-menu li:nth-child(2) p {
      padding-top: 6px; }
  .mont-right-menu li:last-child {
    padding-left: 185px;
    margin-bottom: 0; }

.info-mont p {
  font-size: 20px;
  font-weight: 300;
  padding: 40px 89px;
  letter-spacing: .4px; }

.otzuvu {
  background-image: url("../img/bg-otzuvu.png");
  background-position: 77%;
  min-height: 733px;
  background-repeat: no-repeat;
  margin-top: -177px; }

.slider-otz {
  margin-top: 219px; }

.title-otz {
  text-align: center; }
  .title-otz h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-family: BOOKOSBI;
    color: #fff;
    text-shadow: 5px 2px 1px black;
    letter-spacing: 1.9px; }

.foto-slide {
  padding: 43px 0 0 81px;
  color: #fff; }
  .foto-slide h3 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0 0 5px; }
  .foto-slide p {
    padding-left: 5px;
    font-size: 14px;
    opacity: .3; }
  .foto-slide img {
    max-width: 218px;
    width: 100%;
    max-height: 203px;
    border: 3px solid #fff; }

#otz {
  font-family: CalibriBold; }

.text-otz {
  padding: 52px 0 0 45px; }
  .text-otz p {
    color: #fff;
    line-height: 23px;
    text-align: justify;
    font-size: 14px; }
  .text-otz a {
    color: #ffd644;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 15px 0 0 48px;
    display: block; }
    .text-otz a:after {
      position: absolute;
      left: 5px;
      top: 19px;
      content: '';
      background-image: url("../img/glaz.png");
      width: 29px;
      height: 17px; }

.slider-otz .lSAction > a {
  width: 11px;
  height: 21px;
  background-position: center;
  top: 96%;
  opacity: 1; }

.slider-otz .lSAction > .lSNext {
  right: 55%;
  background-image: url("../img/arrow-otz2.png");
  background-repeat: no-repeat; }

.slider-otz .lSAction > .lSPrev {
  left: 41%;
  background-image: url("../img/arrow-otz.png");
  background-repeat: no-repeat; }

.slider-otz ul {
  margin-bottom: 80px; }

.title-ser {
  text-align: center;
  padding-top: 22px; }
  .title-ser h2 {
    font-size: 31.87px;
    font-family: Candarab;
    text-transform: uppercase;
    margin-right: 55px;
    letter-spacing: 2.6px;
    line-height: 40px; }
  .title-ser p {
    font-size: 26px;
    margin-right: 50px;
    opacity: .3;
    letter-spacing: -0.5px; }

.slide-ser {
  max-width: 1159px;
  margin: 68px auto; }
  .slide-ser li {
    max-width: 175px;
    margin: 0 32px 0 27px !important; }

.slide-ser .lSAction > a {
  width: 34px;
  height: 54px;
  opacity: 1;
  top: 43%; }

.slide-ser .lSAction > .lSPrev {
  background-image: url("../img/shape-sert.png");
  background-position: center;
  left: 0; }

.slide-ser .lSAction > .lSNext {
  background-image: url("../img/shape-sert1.png");
  background-position: center;
  right: 0; }

.map {
  position: relative; }

.title-map {
  text-align: center;
  padding-top: 15px; }
  .title-map h2 {
    color: #000;
    font-size: 32.47px;
    text-transform: uppercase;
    font-family: 'Arial Black', arial;
    letter-spacing: 2.5px; }

.button-up {
  position: absolute;
  right: 128px;
  bottom: 82%; }
  .button-up img {
    padding-bottom: 6px; }
  .button-up a {
    width: 75px;
    text-align: center;
    height: 75px;
    background-color: #404040;
    -webkit-box-shadow: 4px 4px 1px black;
    box-shadow: 4px 4px 1px black;
    display: block;
    color: #fff;
    position: relative;
    font-size: 12px;
    font-family: 'Arial Black', arial;
    text-transform: uppercase;
    padding-top: 18px; }
    .button-up a:hover {
      background-color: red;
      text-decoration: none; }

#map {
  min-height: 456px;
  width: 100%;
  margin-top: 143px;
  position: relative; }

footer {
  min-height: 56px;
  background-color: #000;
  color: #fff; }
  footer p {
    padding: 5px 15px 0 15px;
    font-size: 16px;
    letter-spacing: 1.2px; }
  footer b {
    font-family: GOTHICB;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
  footer span {
    font-size: 24px; }
  footer tt {
    padding-top: 6px;
    padding-left: 5px;
    font-size: 15px;
    font-family: GOTHIC; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
